*{
    margin: 0;
    padding: 0;
}
/***************************Header*************************************/
.header{
    height: 100px;
    width: 1300px;
    position: relative;
    background-color:#405b68  ;
}
.menu{
    height: 150px;
    width: 100%;
    position: absolute;
}
.name{
    position: absolute;
    margin-top: 30px;
    margin-left: 50px;
    color: white;
    font-size: 30px;
    letter-spacing: 5px;
    font-family: 'Josefin Sans', sans-serif;
}
.menu-item{
    margin-left: 400px;
    margin-top: 70px;
    font-size: 20px;
}
.about_me{
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}
.list{
    display: inline;
    padding: 40px;
}
.link{
    text-decoration: none;
    color: white;
}
.link:hover{
    color:rgb(79, 76, 224);
}
.link2{
    text-decoration: none;
    color: white;
}
.link2:hover{
    color:rgb(79, 76, 224);
}
.link3{
    text-decoration: none;
    color:white;
}
.link3:hover{
    color:rgb(79, 76, 224);
}
.link3:visited{
    color:rgb(57, 14, 63) ;
}
.link4{
    text-decoration: none;
    color: white;
}
.link4:hover{
    color:rgb(79, 76, 224);
}
.link5{
    text-decoration: none;
    color: white;
}
.link5:hover{
    color:rgb(79, 76, 224);
}
/********************************MAIN*************************/
.main{
    height: 500px;
    width: 1300px;
    position: relative;
    background-color:#405b68 ;
}
.slider-container {
    position: absolute;
    width: 550px;
    height: 400px;
    margin-top: 20px;
    margin-left: 50px;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 34px;
    color:#405b68 ;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  .card-text{
    font-family: 'Josefin Sans', sans-serif; 
    color: white;
}
.nubex {
	color:rgb(57, 14, 63);
	user-select: none; 
	text-decoration: none;
	outline: none; 
	padding: 1em 2em;
  margin-left: 170px;
	}
  .slider-container2 {
    position: absolute;
    width: 550px;
    height: 400px;
    margin-top: 20px;
    margin-left: 700px;
    overflow: hidden;
  }
  
  .slider2 {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .prev-button2,
  .next-button2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 34px;
    color: #405b68 ;
  }
  
  .prev-button2 {
    left: 10px;
  }
  
  .next-button2 {
    right: 10px;
  }
  .nubex1 {
    color:rgb(57, 14, 63);
    user-select: none; 
    text-decoration: none;
    outline: none; 
    padding: 1em 2em;
    margin-left: 170px;
    }
     /********************FOOTER********************************/
.footer{
    height: 50px;
    width: 1300px; 
    position: relative;
    background-color:#405b68 ;
}
.text{
    position: absolute;
    margin-left: 480px;
    margin-top: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7px;
    color: white;
}
.text2{
    position: absolute;
    margin-left: 690px;
    margin-top: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7px;
    color: white;
}
.text3{
    position: absolute;
    margin-left: 830px;
    margin-top: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7px;
    color: white;
}
.icon{
    position: absolute;
    margin-left: 650px;
    margin-top: 5px;
}
.icon2{
    position: absolute;
    margin-left: 790px;
    margin-top: 5px;
}
